<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <!-- brand image on the header -->
        <a class="navbar-brand" href="#"><img
                src="" class="logo" alt=""> logo </a>
      

        <!-- collapsable nav bar-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                
                
                <ul class="nav navbar-nav navbar-right">

                    <a class="nav-item nav-link " href="#">Sign Up</a>          
                    <a class="nav-item nav-link " href="#">Login</a>
                    <a class="nav-item nav-link " href="#">Logout</a>
                </ul>

            </div>
        </div>
    </nav>
</header>