h1 {
  text-align:  center ;
  color: red;
  margin-top: 1em;

}
p{
  margin-top: 2em;
  margin-bottom: 1em;
}

button {
  margin: 2em;
}

tr, td, th{
  border: 2px solid black;
  text-align: center;
  margin: 2em;
}
table {
  margin: 3em;
}
