<header>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="my-0 mr-md-auto">
            <!-- logo and on click events -->
            <a class="navbar-brand" href=""><img src="{{ url_for('static',filename='images/logo.png')}}" class="logo"
                    alt=""> logo </a>
        </div>
        <!-- logo ending -->
        <div>
            <nav class="my-2 my-md-0 mr-md-3">

                <a class="p-2 text-dark" href="">Home </a>

                <a class="p-2 text-dark" href="">Sign up </a>
                <a class="p-2 text-dark" href="">Logout </a>

        </div>
        </nav>
        <div>

            <a class="btn btn-outline-primary" href="">Login</a>

        </div>
    </div>
    </div>

</header>