{% extends 'base.html' %}

{% block content %}


<h1>Welcome to the Registeration Page</h1>
<div class="container">
    <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>
            {{ form.hidden_tag() }}

            <p> {{ form.firstName.label }}</br>
                {{ form.firstName }}
                {% for error in form.firstName.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.lastName.label }}</br>
                {{ form.lastName }}
                {% for error in form.lastName.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p>
                {{ form.userId.label }}</br>
                {{ form.userId }}
                {% for error in form.userId.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}

            </p>
            <p> {{ form.email.label }}</br>
                {{ form.email }}
                {% for error in form.email.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.password.label }}</br>
                {{ form.password }}
                {% for error in form.password.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p> {{ form.passwordConfirm.label }}</br>
                {{ form.passwordConfirm }}
                {% for error in form.passwordConfirm.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>



            <p>
                {{ form.submit() }}
            </p>

        </fieldset>
    </form>
</div>
{% endblock %}